.Categories__Title {
  display: flex;
  justify-content: space-between;
}
.Categories__List {
  column-gap: 5px;
  display: flex;
  margin: 0.5rem 0;
}
.Categories__Item {
  width: 5rem;
  background-color: #e08cff;
  border-radius: 2px;
  color: #fff;
  padding: 3px 0;
  text-align: center;
}
.CategoryForm__Form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.CategoryForm__Input {
  background-color: #8d46bd;
  height: 30px;
  padding: 0 5px;
  border: none;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  color: #fff;
  border-bottom: 2px solid #fff;
  letter-spacing: 2px;
  outline: none;
}
.CategoryForm__Input::placeholder {
  color: rgb(179, 179, 179);
  opacity: 0.6;
}

.CategoryForm__SubmitButton {
  background-color: #ffec40;
  border: none;
  height: 30px;
  width: 100px;
  margin: 10px auto;
  font-size: 1.4rem;

  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .Categories__List {
    flex-direction: column;
    row-gap: 1rem;
  }
  .Categories__Item {
    border-radius: 0.5rem;
    width: 15rem;
    padding: 1rem 0;
    font-size: 1.5rem;
  }
}
