* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-background: #ffffff;
  --color-text-default: #1d2d65;
  --color-back-icon: #e6e9f3;
}
html {
  font-size: 62.5%;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    90deg,
    rgba(254, 6, 60, 1) 0%,
    rgba(243, 177, 26, 1) 47%,
    rgba(8, 153, 242, 1) 97%
  );
  object-fit: cover;
  width: 100vw;
  color: var(--color-text-default);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h2 {
  font-size: 2rem;
}
.Icon {
  font-size: 1.6rem;
  color: var(--color-text-default);
  background-color: var(--color-back-icon);
  border: none;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.Icon:hover {
  background-color: #cbced8;
}
.Title {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}
